<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.appserviciosocial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AccesoActivity"
            android:label="@string/acceso" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.MenuTablasActivity"
            android:label="@string/title_activity_menu_tablas" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AlumnoMenuActivity"
            android:label="@string/title_activity_menu_alumno" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AlumnoInsertarActivity"
            android:label="@string/title_activity_alumno_insertar" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AlumnoConsultarActivity"
            android:label="@string/title_activity_alumno_consultar" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AlumnoActualizarActivity"
            android:label="@string/title_activity_alumno_actualizar" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AlumnoEliminarActivity"
            android:label="@string/title_activity_alumno_eliminar" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AsignacionProyectoMenuActivity"
            android:label="@string/title_activity_asignacion_proyecto_menu" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AsignacionProyectoInsertarActivity"
            android:label="@string/title_activity_asignacion_proyecto_insertar" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AsignacionProyectoConsultarActivity"
            android:label="@string/title_activity_asignacion_proyecto_consultar" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AsignacionProyectoEliminarActivity"
            android:label="@string/title_activity_asignacion_proyecto_eliminar" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.AsignacionProyectoActualizarActivity"
            android:label="@string/title_activity_asignacion_proyecto_actualizar" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.ProyectoInsertarActivity"
            android:label="@string/title_activity_proyecto_insertar" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.ProyectoMenuActivity"
            android:label="@string/title_activity_proyecto_menu" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.ProyectoConsultarActivity"
            android:label="@string/title_activity_proyecto_consultar" >
        </activity>
        <activity
            android:name="sv.edu.ues.fia.appserviciosocial.ActualizarProyectoActivity"
            android:label="@string/title_activity_actualizar_proyecto" >
        </activity>
    </application>

</manifest>
